html,body,p,ul,li,h1,input,form {
	margin: 0;
	padding: 0;
}

body,input {
	font-family: "Helvetica Neue","lucida Grande",Verdana;
}

body {
	background: white;
}

ul,li {
	list-style: none;
}

img {
	border: none;
}

a {
	color: #03309D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.gray {
	color: #868686;
}

.red {
	color: red;
}

.f_size {
	font-size: 12px;
}

.b_size {
	font-size: 14px;
}

/* 定义一般按钮样式 */
.btn_normal {
	border: 1px solid;
	border-radius: 2px;
	cursor: pointer;
	font-size: 12px;
	padding: 0px 12px;
  	height: 25px; 
  	line-height: 24px\9;   
}

.btn_normal {
	margin-left: 10px;
	border-color: #c3c3c3;
	background: #ececec;
	color: #333;
	background: -webkit-gradient(linear, center bottom, center top, from(#ececec),
		to(#f4f4f4) );
	background: -moz-linear-gradient(90deg, #ececec, #f4f4f4);
}

.btn_normal:HOVER {
	background: #4787ed;
	background: -webkit-gradient(linear, center bottom, center top, from(#4787ed),
		to(#4d90fe) );
	background: -moz-linear-gradient(90deg, #4787ed, #4d90fe);
	border-color: #3079ed;
	color: #fff;
}
