@CHARSET "UTF-8";
/*
扩展frame.css 用于子页面
*/

.txt_title,.composetab_sel {
	color: #093665;
}

.txt_title {
	font-weight: bold;
	font-size: 14px;
	font-family: "lucida Grande", Verdana;
	margin: 4px 0 5px 8px;
}

/*-头部-----------------------------------------------------*/
.toolheight:after {
	display: block;
	content: " ";
	height: 0;
	width: 100%;
	overflow: hidden;
}

.toolbgline {
	border-bottom: 1px solid #aac1de;
}

.toolbg,.toolbg1 {
	background-color: #c1d9f3;
}

.toolbgline {
	padding: 6px 7px 5px;
	background-image: none;
}

.toolheight {
	zoom: 1;
}

.nowrap {
	white-space: nowrap;
}

/*按钮*/
.toolheight .btn,.toolheight .qm_btn {
	float: left;
	margin: 1px 1px 0 0;
}

.btn,button,.qm_btn {
	font-size: 12x;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px\9;
}


.wd1 {
	width: 50px;
	margin: 1px 1px 0 0;
}

.wd2 {
	width: 64px;
	margin: 1px 1px 0 0;
}

.wd3 {
	width: 82px;
	margin: 1px 1px 0 0;
}

.wd4 {
	width: 100px;
	margin: 1px 1px 0 0;
}

.right,.qm_right {
	float: right;
}

.toolheight .right,.toolheight .qm_right {
	margin: 4px 0 0 0;
}

/*-表格样式-*/
	.none{
		display: none;
	}

	table.O2 {
		border-top: 1px solid #fff;
		color: #3b3b3b;
		table-layout:fixed;
		width:100%;
		border-collapse:collapse;
		min-width:600px;
	    *width:expression(document.body.clientWidth < 600 ? "600px" : "auto");   /*	 *width:auto;  */
	}
	
	th.title {
		background: url(mail0f6c3e.png) -128px 0 repeat-y;
		margin: 0;
		padding: 0 0 0 12px;
	}
	
	th.noborder{
		margin: 0;
		padding: 0 0 0 12px;
	}
	
	
	table.O2  th{
		border-bottom: 1px solid #c1c8d2;
		background-color: #f2f4f6;
		padding-top: 0;
		*padding-top: 2px;
		text-align: left;
		height: 20px;
	}
	
	table.O2 tbody tr{
		height: 25px;
	}
	
	table.O2 tbody tr:hover{
		height: 25px;
		background-color: #F3F3F3;
	}
	
	table.O2 tbody td{
		padding: 0 0 0 12px;
		border-bottom-width: 1px;
		border-bottom: 1px solid #E3E6EB;
		font-weight: normal;
		clear: both;
		empty-cells : show ;/*内容为空依然显示*/
	}
	

/*edit页面样式*/
.toolheight .btn_sepline {
	float: left;
	margin: 3px 6px 0 6px;
}

.btn_sepline {
	border-left: 1px solid #9d9d9d;
	*border-left: none;
	border-top: none;
	*border-top: 1px solid #9d9d9d;
	border-right: 1px solid #fff;
	border-bottom: none;
	*border-bottom: 1px solid #9d9d9d;
	width: 1px;
	height: 18px;
	line-height: 18px;
	padding: 0;
	margin: 1px 5px 0 4px;
	background: #9d9d9d;
	vertical-align: -5px\0; +
	vertical-align: 2px;
}

.btn_goback {
	*height: 23px;
	*line-height: 8px;
	font-size: 12px;
}

/*提交表单*/
.submit_div{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
}
.submit_div textarea{
	border: 1px solid #718DA6;
}

.submit_div  div.mocktextarea{
	border: 1px solid #718DA6;
    font-family: "lucida Grande",Verdana;
    padding: 3px;
    width: 540px;
}

.submit_div input.txt_date{
	border: 1px solid #718DA6;
}

.submit_div select{
	border: 1px solid #718DA6;
}


